.network{
    display:flex;
    flex-direction: row;
    min-width: 500px;
    min-height: 450px;
    
    justify-content: start;
    padding: 10px;
    border: 1px solid red;
}

.unos{
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.users{
    display: flex;
    margin-left: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 1px solid coral;
    width: 100%;
    padding: 10px;
    
}

.userDraw{
    
    border: 1px solid rgb(7, 235, 64);
    height: 250px;
    width: 150px;
    background-color: rgb(106, 21, 243); 
    margin-bottom: 10px;;
}

.userPicture{
    position: relative;
    margin: 5px;
    margin-bottom: 0px;
    border: 2px solid white;
    padding: 2px;
    padding-bottom: 0px;
    
}
.pic{
    max-height: 100%;
    max-width: 100%;  
    object-fit: fill;
    width: 150px;
    height: 120px;
}

.userInfo{
    display: flex;
    color:white;
    flex-direction: column;
    margin: 5px;

}

.editDeleteBtns{
    display: flex;
    
    justify-content: flex-end;
    margin: 1px;
    margin-top: 0px;
    
    padding: 2px;
    
}





.inputs{
    color:blue;
}

.createButton {
    margin-top: 10px;
    background-color:aqua;
}

